<div n:snippet="ProduktyZoznam" >
  <a href="{plink Clanky:default $back_link_id}" title="Návrat">Návrat na zoznam</a>
  <div class="produkt-view" n:if="isset($p)">
    <h2>{$p->nazov}</h2>
    <script><!--
      var valittuKuva = 'productimage1';
      //-->
    </script>
    <div class="thumbNails">
      {foreach $pi as $img}
        {var $im = $basePath.'/www/files/produkty/images/'.$img->subor}
        {first}{var $prvy_obrazok = $im}{/first}
        <a href="javascript:" OnClick="getElementById(valittuKuva).style.border='';valittuKuva='productimage{$iterator->counter}';getElementById(valittuKuva).style.border='3px solid #F56506';document.getElementById('paakuvadiv').innerHTML = '<img src={$im}>'">
          <img id="productimage{$iterator->counter}" src="{$im}" width="114" border="0" alt="" {first} style="border: 3px solid #F56506;"{/first} />
        </a>
      {/foreach}
    </div>
    <table width="482" border="0" cellpadding="0" cellspacing="0">
     <tr align="left" valign="top">
      <td class="productimage" id="paakuvadiv"><img n:ifset="$prvy_obrazok" src="{$prvy_obrazok}" /></td>
      </tr>
      <tr class="productspecs">
       <th>
        <a href="{plink Clanky:default 'tepelna-kategoria-'.$p->tepkat}">
         <img class="lampoluokkakuva" src="{$basePath}/www/images/icon_{$p->tepkat}_s.jpg" width="56" height="55" border="0" />
        </a>
        <h3 class="mainh">Informácie o produkte</h3>
        <a href="{$basePath}/www/files/produkty/pdf/{$p->pec_pdf}" title="{$p->pec_pdf}" target="_blank">{$p->pec_pdf}</a>
       </th>
      </tr>
      <tr class="productspecs">
       <td>
        <table>
          <tr><th colspan="2"><h3>Rozmery</h3></th></tr>
          {var $rozm = array('vyska', 'sirka', 'hlbka', 'hmotnost', 'bottom_plinth_weight', 'copatible_aurum')}
          {foreach $rozm as $r}
            <tr n:ifset="$p->$r">{$p->$r|vypis:$produkt_lang_str[$r]|noescape}</tr>
          {/foreach}
          <tr><th colspan="2"><h3>Informácie o teple</h3></th></tr>
          <tr n:ifset="$p->termal_energy"><td>Tepelná energia:</td><td>{$p->termal_energy} kWh</td></tr>
          <tr n:ifset="$p->nominal_heat_output"><td>Nominálny tepelný výkon:</td><td>{$p->nominal_heat_output|ciarka} kW / {$p->nominal_heat_time|ciarka} h</td></tr>
          {ifset $p->heat_release_time100}
            <tr><td colspan="2">Tepelná akumulačná kapacita (h), percent maximálneho výkonu:</td></tr>
            <tr><td>&nbsp;&nbsp;100%</td><td>{$p->heat_release_time100|ciarka} h</td></tr>
            <tr><td>&nbsp;&nbsp;50%</td><td>{$p->heat_release_time50|ciarka} h</td></tr>
            <tr><td>&nbsp;&nbsp;25%</td><td>{$p->heat_release_time25|ciarka} h</td></tr>
            <tr><td>Účinnosť:</td><td>{$p->efficiency}%</td></tr>
          {/ifset}       
          <tr n:ifset="$p->heating_time"><td>Čas spaľovania (h:min):</td><td>{$p->heating_time|date:'%H:%I'}</td></tr>
          <tr n:ifset="$p->heating_occasion"><td>Max.množstvo dreva / príležitostné vykurovanie:</td><td>{$p->heating_occasion|ciarka} kg</td></tr>
          <tr n:ifset="$p->forewood_lenght"><td>Dĺžka dreva do rúry na pečenie:</td><td>{$p->forewood_lenght|ciarka} cm</td></tr>
          <tr n:ifset="$p->firewood_lenght"><td>Dĺžka dreva:</td><td>{$p->firewood_lenght|ciarka} cm</td></tr>
        </table>
      </td>
     </tr>
    </table>
  <div class="productFooterText">NunnaUuni Oy si vyhradzuje právo na zmeny.</div>
  </div>
  <article n:if="count($produkty) && !isset($p)" n:inner-foreach="$produkty as $pr">
    {var $v = $pr->produkt_lang}
    <div class="productTeaserSmall">
      <div class="imageContainer">
        <a n:href="produktView! $v->id" titile="{$v->nazov}">
          <img src="{$basePath}/www/files/produkty/thumbs/{$v->spec_nazov}.jpg" height="70" alt="" border="0" />
        </a>
      </div>
      <div class="iCheader"><span class="alignspan">
        <h4><a n:href="produktView! $v->id" titile="{$v->nazov}">{$v->nazov|upper}</a></h4>
      </span></div>
    </div>
  </article>
</div>
{block head}
<style n:if="isset($p)">
  .zobraz-clanok {
    display: none;
  }
</style>
{/block}