/nbproject/private/
/api/
/_doc/
/www/files/
/www/fonts/
/www/editors/
/www/plupload511/
/www/adminer/
/www/local/

.DS_Store
!.gitignore
.htaccess
!/.htaccess
web.config
composer.lock
/app/config/config.local.neon
/app/config/database.neon
/bin/
/log/
/temp/
/vendor/bin/
/vendor/composer/
/vendor/latte/
/vendor/nette/
/vendor/tracy/
/vendor/autoload.php
/sql/d73150_drodiny.sql