{foreach $path as $k => $node}
  {if $k >= $startLevel}
    {if $node->link}
      <a href="{$node->link}" title="{$node->name}">{$node->name}</a>
    {else}
      <span n:class="$node->itemClass">{$node->name}</span>
    {/if}
    {sep} {ifset $separator}{$separator}{else}|{/ifset} {/sep}
  {/if}
{/foreach}