<ol n:inner-foreach="$path as $k => $node" class="breadcrumb .col-xs-12 .col-md-8" n:if="count($path)">
  <li n:if="$k >= $startLevel">
    {if $node->link}
      <a href="{$node->link}" title="{$node->name}" n:class="$node->itemClass">{$node->name}</a>
    {else}
      <span n:class="$node->itemClass">{$node->name}</span>
    {/if}
  </li>
</ol>