{var $robots = noindex}
{block content}
<article class="article-main">
<!--[if lt IE 9]><div class="article-main"><![endif]-->
  <div class="row">
    <div class="col-md-8 col-md-offset-2 bg-success">
      <h2 n:inner-block="title">{$h2}</h2>
      <p>{!$form_required}</p>
      {control clenRegistraciaForm}
    </div>
  </div>
<!--[if lt IE 9]></div><![endif]-->
</article>